In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
from sklearn.feature_selection import RFE, RFECV
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.feature_selection import RFE, RFECV
import Feature_Importance_Funs



# Reading dataset
train = pd.read_csv('train_dataset_1.csv')
train['orderDate'] = pd.to_datetime(train['orderDate'], format = '%Y-%m-%d')
train['deliveryDate'] = pd.to_datetime(train['deliveryDate'], format = '%Y-%m-%d')
train['dateOfBirth'] = pd.to_datetime(train['dateOfBirth'], format = "%Y-%m-%d")
train['creationDate'] = pd.to_datetime(train['creationDate'], format = "%Y-%m-%d")
train.head()

,orderItemID,orderDate,deliveryDate,itemID,size,color,manufacturerID,price,customerID,salutation,...,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,interaction_1,interaction_2,interaction_3,interaction_4
0,1,2012-04-01,2012-04-03,186,m,denim,25,69.90,794,Mrs,...,0,0,0,0,0,0,0,0,1,0
1,2,2012-04-01,2012-04-03,71,9+,ocher,21,69.95,794,Mrs,...,0,0,0,0,0,0,0,0,1,0
2,3,2012-04-01,2012-04-03,71,9+,curry,21,69.95,794,Mrs,...,0,0,0,0,0,0,0,0,1,0
3,4,2012-04-02,NaT,22,m,green,14,39.90,808,Mrs,...,0,0,0,0,0,0,1,0,0,0
4,5,2012-04-02,1990-12-31,151,39,black,53,29.90,825,Mrs,...,1,0,0,0,0,0,0,0,0,0

In [2]:
train.columns

Index(['orderItemID', 'orderDate', 'deliveryDate', 'itemID', 'size', 'color',
       'manufacturerID', 'price', 'customerID', 'salutation', 'dateOfBirth',
       'state', 'creationDate', 'returnShipment', 'days_to_delivery',
       'Customer_age', 'manufacturer_highest_return_rate',
       'item_highest_return_rate', 'feature_100', 'size_highest_return_rate',
       'clothes', 'state_highest_return_rate',
       'salutation_highest_return_rate', 'Item_Average_Price',
       'price_higher_average', 'Company', 'Family', 'Mr', 'Mrs',
       'not reported', 'salutation_numb', 'feature_1', 'feature_2',
       'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7',
       'feature_8', 'feature_9', 'feature_10', 'feature_11', 'feature_12',
       'feature_13', 'feature_14', 'feature_15', 'feature_16', 'feature_17',
       'feature_18', 'interaction_1', 'interaction_2', 'interaction_3',
       'interaction_4'],
      dtype='object')

In [3]:
X = train.drop(['returnShipment', 'orderItemID', 'orderDate', 'deliveryDate', 'itemID', 'color', 'manufacturerID', 
               'customerID', 'salutation', 'dateOfBirth', 'state', 'creationDate', 'size'], axis = 1)
Y = train['returnShipment']

X = X.dropna()
Y = Y.dropna()

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y)

X.head()

,price,days_to_delivery,Customer_age,manufacturer_highest_return_rate,item_highest_return_rate,feature_100,size_highest_return_rate,clothes,state_highest_return_rate,salutation_highest_return_rate,...,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,interaction_1,interaction_2,interaction_3,interaction_4
0,69.90,2.0,47.0,1,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
1,69.95,2.0,47.0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,69.95,2.0,47.0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,39.90,11.0,52.0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,1,0,0,0
4,29.90,11.0,48.0,1,1,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0

In [4]:
nsim = 10
cv = 5
test = Feature_Importance_Funs.RF_Feature_Importance(X, Y, nsim, cv)

0123456789

In [5]:
feature_importance = pd.DataFrame({'Features': X.columns, 'Importance': test.apply(np.mean, axis = 0)})
feature_importance['Importance'] = round(feature_importance['Importance'], 4) * 100
feature_importance = feature_importance.sort_values(by = ['Importance'], ascending = False).reset_index(drop = True)
feature_importance.head()

                   Features  Importance
0             interaction_1       23.97
1             interaction_3       18.25
2  item_highest_return_rate       16.17
3          days_to_delivery       10.09
4                     price        8.77

In [6]:
feature_importance

                            Features  Importance
0                      interaction_1       23.97
1                      interaction_3       18.25
2           item_highest_return_rate       16.17
3                   days_to_delivery       10.09
4                              price        8.77
5                 Item_Average_Price        7.18
6                        feature_100        4.54
7                      interaction_4        3.67
8                      interaction_2        2.95
9   manufacturer_highest_return_rate        2.42
10                      Customer_age        0.55
11                         feature_1        0.41
12                         feature_2        0.21
13                           clothes        0.11
14          size_highest_return_rate        0.11
15                   salutation_numb        0.10
16    salutation_highest_return_rate        0.09
17                               Mrs        0.09
18              price_higher_average        0.07
19                         feature_7        0.06
20                                Mr        0.05
21                         feature_8        0.04
22                        feature_13        0.01
23                        feature_12        0.01
24                         feature_9        0.01
25         state_highest_return_rate        0.01
26                         feature_6        0.01
27                         feature_5        0.01
28                         feature_4        0.01
29                         feature_3        0.01
30                        feature_10        0.00
31                        feature_11        0.00
32                        feature_14        0.00
33                        feature_15        0.00
34                        feature_16        0.00
35                        feature_17        0.00
36                        feature_18        0.00
37                      not reported        0.00
38                            Family        0.00
39                           Company        0.00

In [9]:
feature_importance.to_csv('feature_importances.csv', header = True, index = False, float_format='%g')

In [ ]:
# Running RFE with random forest
auto_feature_selection = RFECV(estimator = RandomForestClassifier(n_estimators = 100, max_depth = 5, min_samples_split = 10, min_samples_leaf = 7), step = 1, min_features_to_select = 2, cv = 5).fit(X_train, Y_train)

# Extracting features that got slected
print(X_train.columns[auto_feature_selection.support_])